# Week 5 Homework

## Question 1

In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/06 13:27:22 WARN Utils: Your hostname, loula resolves to a loopback address: 127.0.1.1; using 192.168.122.1 instead (on interface virbr0)
24/03/06 13:27:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/06 13:27:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/06 13:27:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/03/06 13:27:23 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
pyspark.__file__

'/home/hhammad/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [4]:
spark.version

'3.3.2'

## Question 2

### download the data

In [7]:
!pwd

/home/hhammad/spark/notebooks

https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

In [8]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-06 13:34:13--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T113352Z&X-Amz-Expires=300&X-Amz-Signature=c6707796541f9041ef19eda10d09f7451ea0f70c3e86e648168034e99de91905&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-06 13:34:14--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T113352Z&X-Amz-Expires=300&X-Amz-Signature=c6707796541f9041ef19eda10d09f7451ea0f70c3e86e648168034e99de91905&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  1.82MB/s    in 10s

2024-03-06 13:34:26 (1.80 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

### read the csv file into spark dataframe

In [9]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [11]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

#### prepare the schema

In [76]:
from pyspark.sql import types

In [78]:
schema = types.StructType([
    
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('shared_request_flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)]

)

In [79]:
df = spark.read.option('header', 'true').schema(schema).csv('fhv_tripdata_2019-10.csv.gz')

### Repartition the Dataframe to 6 partitions and save it to parquet.

In [80]:
df \
    .repartition(6) \
    .write.parquet('data/homework', mode= 'overwrite')

24/03/06 14:45:04 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: dispatching_base_num, pickup_datetime, dropOff_datetime, PUlocationID, DOlocationID, SR_Flag, Affiliated_base_number
 Schema: dispatching_base_num, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, shared_request_flag, Affiliated_base_number
Expected: shared_request_flag but found: SR_Flag
CSV file: file:///home/hhammad/spark/notebooks/fhv_tripdata_2019-10.csv.gz

In [82]:
! du -h data/homework/*

6.4M	data/homework/part-00000-0c0d45a0-4451-44ca-8571-c5a49f679a99-c000.snappy.parquet
6.4M	data/homework/part-00001-0c0d45a0-4451-44ca-8571-c5a49f679a99-c000.snappy.parquet
6.4M	data/homework/part-00002-0c0d45a0-4451-44ca-8571-c5a49f679a99-c000.snappy.parquet
6.4M	data/homework/part-00003-0c0d45a0-4451-44ca-8571-c5a49f679a99-c000.snappy.parquet
6.4M	data/homework/part-00004-0c0d45a0-4451-44ca-8571-c5a49f679a99-c000.snappy.parquet
6.4M	data/homework/part-00005-0c0d45a0-4451-44ca-8571-c5a49f679a99-c000.snappy.parquet
0	data/homework/_SUCCESS

## Question 3

Count records

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

In [ ]:
df.registerTempTable('trips_data')

In [18]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [19]:
df.head()

Row(dispatching_base_num='B00009', pickup_datetime='2019-10-01 00:23:00', dropOff_datetime='2019-10-01 00:35:00', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00009')

In [28]:
from pyspark.sql import functions as F

In [ ]:
To convert a datetime to a date in PySpark, you can use the to_date() function. The to_date() function takes a datetime as its input and returns a date

In [32]:
df2 = df.withColumn("pickup_datetime", F.to_date(df.pickup_datetime))

In [36]:
df2.registerTempTable('trips_data')

/home/hhammad/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [37]:
df2.show()

+--------------------+---------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+---------------+-------------------+------------+------------+-------+----------------------+
|              B00009|     2019-10-01|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|     2019-10-01|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|     2019-10-01|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|     2019-10-01|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|     2019-10-01|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |     2019-10-01|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |     2019-10-01|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |     2019-10-01|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |     2019-10-01|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |     2019-10-01|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |     2019-10-01|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|     2019-10-01|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|     2019-10-01|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|     2019-10-01|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|     2019-10-01|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|     2019-10-01|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|     2019-10-01|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|     2019-10-01|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|     2019-10-01|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|     2019-10-01|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+---------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [47]:
dates = ('2019-10-15', '2019-10-16')

In [43]:
df.filter("PUlocationID == 164").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B01087|2019-10-01 00:05:48|2019-10-01 00:29:00|         164|         218|   null|                B01087|
|              B01087|2019-10-01 00:05:54|2019-10-01 00:35:35|         164|          37|   null|                B01087|
|              B01087|2019-10-01 01:48:47|2019-10-01 01:57:53|         164|         145|   null|                B01087|
|              B03074|2019-10-01 04:45:00|2019-10-01 05:12:00|         164|         132|   null|                B03074|
|              B01087|2019-10-01 07:50:33|2019-10-01 09:19:26|         164|         265|   null|                B01087|
|              B02732|2019-10-01 09:48:00|2019-10-01 10:26:00|         164|         244|   null|                B02732|
|              B00446|2019-10-01 10:21:15|2019-10-01 15:57:49|         164|         264|   null|                B00446|
|              B00477|2019-10-01 10:51:23|2019-10-01 10:51:52|         164|         229|   null|                B00477|
|              B02795|2019-10-01 10:43:00|2019-10-01 10:58:55|         164|         181|   null|                B02795|
|              B01413|2019-10-01 11:40:58|2019-10-01 11:50:38|         164|         161|   null|                B01413|
|              B02060|2019-10-01 11:43:50|2019-10-01 11:50:05|         164|         264|   null|                B02060|
|              B00477|2019-10-01 12:28:07|2019-10-01 12:52:55|         164|          98|   null|                B00477|
|              B02574|2019-10-01 12:27:17|2019-10-01 13:19:41|         164|         265|   null|                B02574|
|              B02784|2019-10-01 13:02:35|2019-10-01 13:24:05|         164|          83|   null|                  null|
|              B00446|2019-10-01 14:19:08|2019-10-01 14:30:54|         164|         264|   null|                B00446|
|              B03111|2019-10-01 14:35:49|2019-10-01 15:13:38|         164|         167|   null|                B03111|
|              B00446|2019-10-01 16:26:23|2019-10-01 16:46:49|         164|         264|   null|                B00446|
|              B02293|2019-10-01 16:49:09|2019-10-01 16:50:54|         164|         186|   null|                B02293|
|              B02947|2019-10-01 17:00:45|2019-10-01 17:29:23|         164|         205|   null|                B02947|
|              B01413|2019-10-01 18:38:42|2019-10-01 19:42:33|         164|         226|   null|                B01413|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [49]:
df2.filter(df.pickup_datetime.between(*dates)).count()

62610

### Question 4

Longest trip for each day

What is the length of the longest trip in the dataset in hours?

In [83]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'shared_request_flag',
 'Affiliated_base_number']

#### adding trip duration

In [52]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [84]:
df3=df.withColumn('from_timestamp',to_timestamp(col('from_timestamp')))\
  .withColumn('end_timestamp', current_timestamp())\
  .withColumn('DiffInSeconds',col("end_timestamp").cast("long") - col('from_timestamp').cast("long"))
df3.show(truncate=False)

NameError: name 'to_timestamp' is not defined

In [107]:
#df3 = df.select("select unix_timestamp(df.dropOff_datetime) - unix_timestamp(df.pickup_datetime) DiffInSeconds").show()
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'shared_request_flag',
 'Affiliated_base_number']

In [71]:
from pyspark.sql.functions import col

In [85]:
#create new DataFrame with time differences
df_new = df.withColumn('seconds_diff', col('dropOff_datetime').cast('long') - col('pickup_datetime').cast('long'))\
           .withColumn('minutes_diff', (col('dropOff_datetime').cast('long') - col('pickup_datetime').cast('long'))/60)\
           .withColumn('hours_diff', (col('dropOff_datetime').cast('long') - col('pickup_datetime').cast('long'))/3600)

#view new DataFrame
df_new.show()

24/03/06 14:45:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: dispatching_base_num, pickup_datetime, dropOff_datetime, PUlocationID, DOlocationID, SR_Flag, Affiliated_base_number
 Schema: dispatching_base_num, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, shared_request_flag, Affiliated_base_number
Expected: shared_request_flag but found: SR_Flag
CSV file: file:///home/hhammad/spark/notebooks/fhv_tripdata_2019-10.csv.gz
+--------------------+-------------------+-------------------+------------+------------+-------------------+----------------------+------------+------------------+--------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|shared_request_flag|Affiliated_base_number|seconds_diff|      minutes_diff|          hours_diff|
+--------------------+-------------------+-------------------+------------+------------+-------------------+----------------------+------------+------------------+--------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|               null|                B00009|         720|              12.0|                 0.2|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|               null|                B00013|         113|1.8833333333333333| 0.03138888888888889|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|               null|                B00014|        1537|25.616666666666667| 0.42694444444444446|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|               null|                B00014|          78|               1.3|0.021666666666666667|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|               null|                B00014|         318|               5.3| 0.08833333333333333|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|               null|       B00021         |         384|               6.4| 0.10666666666666667|
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|               null|       B00021         |         362| 6.033333333333333| 0.10055555555555555|
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|               null|       B00021         |         584| 9.733333333333333|  0.1622222222222222|
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|               null|       B00021         |         877|14.616666666666667|  0.2436111111111111|
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|               null|       B00021         |         370| 6.166666666666667| 0.10277777777777777|
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|               null|       B00021         |        1235|20.583333333333332| 0.34305555555555556|
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|               null|                B00037|         462|               7.7| 0.12833333333333333|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|               null|                B00037|         733|12.216666666666667|  0.2036111111111111|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|               null|                B00037|         667|11.116666666666667|  0.1852777777777778|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|               null|                B00037|         685|11.416666666666666| 0.19027777777777777|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|               null|                B00037|         288|               4.8|                0.08|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|               null|                B00037|         858|              14.3| 0.23833333333333334|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|               null|                B00037|         550| 9.166666666666666|  0.1527777777777778|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|               null|                B00037|        1235|20.583333333333332| 0.34305555555555556|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|               null|                  #N/A|        2859|             47.65|  0.7941666666666667|
+--------------------+-------------------+-------------------+------------+------------+-------------------+----------------------+------------+------------------+--------------------+
only showing top 20 rows

In [86]:
df_new.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'shared_request_flag',
 'Affiliated_base_number',
 'seconds_diff',
 'minutes_diff',
 'hours_diff']

In [87]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- shared_request_flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [96]:
df_max = df_new.select(df_new.hours_diff)

In [97]:
df_max.show()

+--------------------+
|          hours_diff|
+--------------------+
|                 0.2|
| 0.03138888888888889|
| 0.42694444444444446|
|0.021666666666666667|
| 0.08833333333333333|
| 0.10666666666666667|
| 0.10055555555555555|
|  0.1622222222222222|
|  0.2436111111111111|
| 0.10277777777777777|
| 0.34305555555555556|
| 0.12833333333333333|
|  0.2036111111111111|
|  0.1852777777777778|
| 0.19027777777777777|
|                0.08|
| 0.23833333333333334|
|  0.1527777777777778|
| 0.34305555555555556|
|  0.7941666666666667|
+--------------------+
only showing top 20 rows

### the longest trip

In [99]:
df_new.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'shared_request_flag',
 'Affiliated_base_number',
 'seconds_diff',
 'minutes_diff',
 'hours_diff']

In [106]:
df_new.agg({'hours_diff': 'max'}).show()

+---------------+
|max(hours_diff)|
+---------------+
|       631152.5|
+---------------+

## Question 5

4040

## Question 6

In [108]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'shared_request_flag',
 'Affiliated_base_number']

In [109]:
df2 = df.groupBy("PULocationID").count()
df2.show()

+------------+-----+
|PULocationID|count|
+------------+-----+
|         148|  684|
|         243|  732|
|          31|  264|
|         251| 1317|
|         137| 2308|
|          85|  475|
|          65|  925|
|          53| 1410|
|         255|  273|
|         133|  393|
|          78| 2909|
|         108|  697|
|         155|  644|
|         193| 2310|
|          34|   57|
|         211|  235|
|         126| 1059|
|         115|  632|
|         101|  719|
|          81|  786|
+------------+-----+
only showing top 20 rows

### we will need to joi with zones first

In [111]:
df_zones = spark.read.parquet('taxi_zones')
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [117]:
df_result = df.join(df_zones, df.PULocationID == df_zones.LocationID)

In [118]:
df_result.show()

24/03/06 21:15:45 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: dispatching_base_num, pickup_datetime, dropOff_datetime, PUlocationID, DOlocationID, SR_Flag, Affiliated_base_number
 Schema: dispatching_base_num, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, shared_request_flag, Affiliated_base_number
Expected: shared_request_flag but found: SR_Flag
CSV file: file:///home/hhammad/spark/notebooks/fhv_tripdata_2019-10.csv.gz
+--------------------+-------------------+-------------------+------------+------------+-------------------+----------------------+----------+-------+---------------+------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|shared_request_flag|Affiliated_base_number|LocationID|Borough|           Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------------------+----------------------+----------+-------+---------------+------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|               null|                B00009|       264|Unknown|             NV|         N/A|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|               null|                B00013|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|               null|                B00014|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|               null|                B00014|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|               null|                B00014|       264|Unknown|             NV|         N/A|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|               null|       B00021         |       129| Queens|Jackson Heights|   Boro Zone|
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|               null|       B00021         |        57| Queens|         Corona|   Boro Zone|
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|               null|       B00021         |       173| Queens|   North Corona|   Boro Zone|
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|               null|       B00021         |       226| Queens|      Sunnyside|   Boro Zone|
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|               null|       B00021         |        56| Queens|         Corona|   Boro Zone|
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|               null|       B00021         |        82| Queens|       Elmhurst|   Boro Zone|
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|               null|                B00037|       264|Unknown|             NV|         N/A|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|               null|                  #N/A|       264|Unknown|             NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------------------+----------------------+----------+-------+---------------+------------+
only showing top 20 rows

In [115]:
df_result.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'shared_request_flag',
 'Affiliated_base_number',
 'LocationID',
 'Borough',
 'Zone',
 'service_zone']

In [116]:
df2 = df_result.groupBy("Zone").count()
df2.show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|           Homecrest| 1295|
|Governor's Island...|    2|
|              Corona| 7175|
|    Bensonhurst West| 1880|
|         Westerleigh| 1317|
|      Newark Airport| 2532|
|Charleston/Totten...| 2533|
|          Douglaston|  291|
|      Pelham Parkway| 1522|
|East Concourse/Co...| 3294|
|          Mount Hope| 3973|
|         Marble Hill|  116|
|           Rego Park| 1697|
|Upper East Side S...| 2358|
|       Dyker Heights|  690|
|Heartland Village...| 1054|
|   Kew Gardens Hills|  906|
|     Jackson Heights|10952|
|             Bayside| 2547|
|TriBeCa/Civic Center| 1918|
+--------------------+-----+
only showing top 20 rows

In [120]:
df2.orderBy(col("count").asc()).show(truncate=False)

+---------------------------------------------+-----+
|Zone                                         |count|
+---------------------------------------------+-----+
|Jamaica Bay                                  |1    |
|Governor's Island/Ellis Island/Liberty Island|2    |
|Green-Wood Cemetery                          |5    |
|Broad Channel                                |8    |
|Highbridge Park                              |14   |
|Battery Park                                 |15   |
|Saint Michaels Cemetery/Woodside             |23   |
|Breezy Point/Fort Tilden/Riis Beach          |25   |
|Marine Park/Floyd Bennett Field              |26   |
|Astoria Park                                 |29   |
|Inwood Hill Park                             |39   |
|Willets Point                                |47   |
|Forest Park/Highland Park                    |53   |
|Brooklyn Navy Yard                           |57   |
|Crotona Park                                 |62   |
|Country Club                                 |77   |
|Freshkills Park                              |89   |
|Prospect Park                                |98   |
|Columbia Street                              |105  |
|South Williamsburg                           |110  |
+---------------------------------------------+-----+
only showing top 20 rows